* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app {
	display: grid;
	grid-template-rows: 65px 1fr;
	grid-template-columns: 220px 1fr;
	grid-template-areas:
		"nav-bar nav-bar"
		"side-bar week";
	height: 100vh;
	min-width: 0;
}

.week {
	grid-area: week;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	/* justify-items: stretch; */
	padding: calc(0.1vw + 1px) 5px;
	background-color: rgb(255, 255, 255);
	height: 100%;
	min-width: 0;
	overflow: hidden;
}

.week-defocus {
	width: 150%;
	height: 100%;
	background-color: rgba(240, 242, 242, 0.63);
	position: absolute;
	z-index: 30;
	animation: defocus-in ease-in-out 0.3s;
	left: -150px;
}

@keyframes defocus-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

.day-container {
	border-left: rgb(246, 246, 246) 1px solid;
	min-width: 0;
	position: relative;
}

.day {
	cursor: copy;
	background-color: white;
	height: 100%;
	z-index: 20;
}

.dayTitle {
	padding: 5px Calc(1.5vw + 5px) 5px;
	color: rgb(83, 88, 95);
	min-width: 0;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border: none;
	font-size: 1.1em;
	cursor: none;
	height: 55px;
	z-index: 50;
}

.dayTitle p {
	font-size: 0.8em;
}

.task {
	overflow: hidden;
	display: grid;
	grid-template-columns: 66% 34%;
	grid-template-rows: auto 2fr auto;
	grid-template-areas:
		"task-title task-time"
		"task-description task-description"
		"task-size-handle task-size-handle";
	border-top: rgb(241, 241, 245) 1px solid;
	width: 100%;
	cursor: default;
	min-width: 0;
	min-height: 23px;
	background-color: rgb(245, 246, 246);
	position: absolute;
	z-index: 10;
}

.task-title {
	text-shadow: rgba(0, 0, 0, 0.055) 1px 1px 1px;
	overflow: hidden; /* !!!!! I need to combine all of these!*/
	font-style: italic;
	padding: 3px 0 0 8px;
	margin: 0 0 3px 0;
	font-size: 0.8em;
	grid-area: task-title;
	color: rgb(39, 39, 201);
	border-left: blue 3px solid;
}

.task-time {
	text-shadow: rgba(0, 0, 0, 0.055) 1px 1px 1px;
	overflow: hidden;
	font-style: oblique;
	padding: 0.5px 0.3em;
	margin: 3px;
	display: block;
	font-size: 0.75em;
	text-align: right;
	grid-area: task-time;
}

.task-description {
	grid-area: task-description;
	font-size: 0.8em;
	overflow: hidden;
	padding: 0 0 0 8px;
	color: rgb(73, 73, 73);
}

.task-size-handle {
	grid-area: task-size-handle;
	height: 10px;
	border-bottom: rgb(172, 172, 172) 1px solid;
	cursor: n-resize;
}

.time-tool-tip {
	position: absolute;
	width: 100%;
	height: 60px;
	z-index: 2;
	pointer-events: none;
	padding: 0.2em 0.3em;
	border-top: rgb(223, 223, 223) 1px solid;
	text-align: center;
	color: rgb(118, 131, 136);
	font-size: 0.9em;
}

.nav-bar {
	grid-area: nav-bar;
	align-items: center;
	background-color: rgb(255, 255, 255);
	border-bottom: rgb(233, 233, 233) 1px solid;
}

.nav-bar h1 {
	font-size: 2.2em;
	color: rgb(150, 223, 186);
	color: #2c3d4f;
	background-color: #edb19f;
	display: inline-block;
	margin: 5px 0 0 20px;
}

.menu-btn {
	width: 45px;
	height: 45px;
	border: rgb(221, 221, 221) 1px solid;
	border-radius: 30px;
	margin: 0 0 5px 10px;
	background-color: white;
	font-size: 1.5em;
}

.date-select-drop {
	padding: 0 20px 2px;
	margin: 0 0 0 27px;
	border: rgb(228, 228, 228) 1px solid;
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	box-shadow: inset rgba(0, 0, 0, 0.034) 3px -3px 5px;
	height: 50%;
	vertical-align: 2px;
}
.date-select-drop h4 {
	background-color: rgb(116, 16, 46);
}

@media only screen and (max-width: 900px) {
	.app {
		grid-template-areas:
			"nav-bar nav-bar"
			"week    week";
	}
	.task-description {
		font-size: 0.7em;
	}
	.task-time {
		display: none;
	}
	.taskTitle {
		font-size: 0.7em;
		font-style: normal;
	}

	.task {
		padding: 0;
	}
	.side-bar {
		display: none;
	}
	.dayTitle {
		font-size: Calc(3 + 1.8vw);
		margin: 1px 0;
	}
	.menu-btn {
		border: #2c3d4f 2px solid;
	}
	.nav-bar h1 {
		font-size: 1em;
		margin: 22px 0 0 0;
	}
}

@media only screen and (max-width: 1100px) {
	.task-time {
		display: none;
	}
}

.task-form {
	position: fixed;
	left: Calc(50% - 200px);
	top: Calc(50% - 200px);
	animation: form-pop-in ease-out 0.2s;
	z-index: 100;

	background-color: rgb(255, 255, 255);
	width: 320px;
	height: auto;
	min-height: 400px;
	/* padding: 50px 30px 10px 0; */
	border-radius: 0 20px 20px 0;
	box-shadow: rgba(0, 0, 0, 0.034) 2px 2px 15px;

	display: grid;
	grid-template-columns: 0.2fr 0.2fr 3fr 3fr 0.8fr;
	grid-template-rows: 0.6fr 0.6fr 0.3fr 0.3fr 0.5fr;
	grid-template-areas:
		"task-form-bottom-color	 .	task-form-title      	task-form-title       	task-form-title"
		"task-form-bottom-color	 .	task-form-discription	task-form-discription 	task-form-discription"
		"task-form-bottom-color	 .	task-form-time-lable 	task-form-time        	task-form-color"
		"task-form-bottom-color	 .	task-form-end-lable  	task-form-time-end    	task-form-color"
		"task-form-bottom-color	 .	.     					task-form-cancel       	task-form-submit";
}

@keyframes form-pop-in {
	0% {
		opacity: 0;
		top: Calc(50% - 180px);
	}
	100% {
		opacity: 100%;
		top: Calc(50% - 200px);
	}
}

.task-form * {
	border-style: none;
	outline: none;
	font-family: "Open Sans", "sans-serif", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
		Arial, sans-serif;
}

.task-form input {
	display: inline-block;
	background-color: white;
	word-break: break-word;
}

.task-form ::placeholder {
	color: rgb(182, 182, 182);
	vertical-align: bottom;
	display: inline-block;
}

.color-picker {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(6, auto);
	top: 26px;
	left: 18px;
	padding: 5px;
	background-color: white;
	border: none;
	z-index: 20;
	animation: color-picker-pop-in ease-out 0.2s;
	cursor: pointer;
}

.color-select-btn {
	color: rgb(218, 208, 70);
	width: 45px;
	height: 45px;
	border: rgb(221, 221, 221) 1px solid;
	border-radius: 30px;
	margin: 5px;
}

@keyframes color-picker-pop-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

.task-form-title {
	grid-area: task-form-title;
	border-left: 1px solid;
	padding: 15px;
	margin: 40px 30px 0 20px;
	max-width: 260px;
	min-width: 260px;
	max-height: 150px;
	min-height: 50px;
}
.task-form-discription {
	grid-area: task-form-discription;
	border-left: 1px solid;
	padding: 15px;
	margin: 20px 30px 0 20px;
	max-width: 260px;
	min-width: 260px;
	max-height: 180px;
	min-height: 60px;
}
.task-form-time-lable {
	grid-area: task-form-time-lable;
	padding: 25px 5px 10px;
	margin: 0 0 0 20px;
}
.task-form-time {
	grid-area: task-form-time;
	padding: 18px 0 1px 0px;
	font-size: 17px;
}
.task-form-end-lable {
	grid-area: task-form-end-lable;
	padding: 15px 5px;
	width: 75px;
	margin: 0 0 0 20px;
}
.task-form-time-end {
	grid-area: task-form-time-end;
	padding: 0 0 3px 0px;
	font-size: 17px;
}
.task-form-submit {
	grid-area: task-form-submit;
	background: none;
	color: rgb(119, 119, 119);
	cursor: pointer;
	margin: 0 32px 0 0;
	font-size: 25px;
}
.task-form-cancel {
	grid-area: task-form-cancel;
	background: none;
	color: rgb(138, 75, 75);
	cursor: pointer;
	margin: 5px 0 0 30px;
	font-size: 22px;
}
.task-form-color {
	grid-area: task-form-color;
	width: 40px;
	height: 40px;
	text-align: center;
	margin: 35px 35px 0 0;
	background-color: white;
	cursor: pointer;
}

.task-form-color * {
	width: 45px;
	height: 45px;
}

.task-form-bottom-color {
	grid-area: task-form-bottom-color;
	background-color: rgb(75, 75, 145);
	background-size: contain;
}

.side-bar {
	grid-area: side-bar;
	background-color: rgb(255, 255, 255);
}

.side-cal-item {
	margin: 0;
	padding: 0;
	color: indigo;
	background-color: khaki;
}

.react-calendar {
	border: none;
	padding: 5px 10px;
	font-size: 0.9em;
}
.react-calendar button {
	background-color: white;
	border: none;
	color: gray;
	padding: 5px 0px;
	margin: 2px 0;
}

.react-calendar__navigation {
	padding: 0 20px;
}

.react-calendar__navigation button {
	border-radius: 20px;
	padding: 5px 5px 10px;
}

.react-calendar__month-view__weekdays {
	padding: 5px 0;
	text-align: center;
}

.react-calendar__month-view__weekdays__weekday abbr[title] {
	font-size: 0.8em;
	text-decoration-line: none;
	color: gray;
	border: none;
}
